# === Ruby / Bundler ===
/.bundle              
/vendor/bundle         
*.gem                

# === Variáveis de ambiente ===
/.env*                
!.env.example 

# === Logs e arquivos temporários ===
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/coverage/*

# === Uploads e storage ===
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# === Chaves de criptografia e credenciais ===
/config/*.key
/config/credentials/*.key
/config/credentials/*.enc 

# === Compilações e cache de assets ===
/public/assets
/public/packs
/public/packs-test
/public/uploads

# === IDEs e editores ===
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

# === Sistema operacional ===
.DS_Store
Thumbs.db

# === Testes ===
/spec/examples.txt
/spec/tmp/
/test/tmp/
/spec/reports/
/test/reports/

.byebug_history
.pry_history

/docker-compose.override.yml
/docker-data/
